@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.keycap .border { stroke: black; stroke-width: 2; }
.keycap .inner.border { stroke: rgba(0,0,0,.1); }

.keyboardBox{
    padding : 10%;
    padding-top : 0%;
    padding-left : 15%;
}



.textBox{
    text-align: center;
    
}
.textBox .box1{
    padding : 10%;
    padding-bottom : 0%;
}
p {
    color : #aaa;
    font-family: 'Source Code Pro', monospace;
    font-size : 30px;
    font-weight: bold;
    word-wrap: break-word;
}
*:focus {
    outline: none;
}